h2 {
    color: rgb(1, 79, 1);
    font-weight: 700;
    text-align: center;

}

table {
    color: rgb(0, 128, 0);
    border-collapse: collapse;
    width: 500px;
    margin-left: 510px;
    background-color: rgb(224, 249, 217);

}
.tabletr {
    width: 200px;
}

button {
   margin-left: 200px;
}
.trtd{
    text-align: center;
    color:palevioletred;
}