h2 {
    color: brown;
}

table {
    background-color: #ccedff;
    border-collapse: collapse;
  


}

.headbody_table_tr {
    text-align: center;
}

.headbody {
    width: 100%;
    margin-left: 40%;

}

h2 {
    margin-left: 5%;
}

