h2 {
    color: #cc0033;
    text-align: center;
  }
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
  }
  table,th,td {
    border-collapse: collapse;
    
    
    margin-left: 25%;
    border: 1px solid rgb(252, 6, 6);
  
    
  }
  .head_table_tr{
    background-color: #cc0033;
    color: #ffffff;
  }
  .headbody_tr_td1 {
    color: #cc0033;
  }
  .headbody_tr_td{
    text-align: left;
    
    width: 200px;}
  